[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/cimg"]
	path = vendor/cimg
	url = https://github.com/dtschump/CImg.git
[submodule "vendor/tbb"]
	path = vendor/tbb
	url = https://github.com/01org/tbb.git
